$font : Avenir, Helvetica, Arial, sans-serif;
$font-color : #2c3e50;
$font-color2 : #42b983;
$color-border: rgba(39, 167, 184, 0.2);
$color-bckg1: rgba(39, 167, 184, 0.2);
$color-bckg2: rgba(39, 167, 184, 0.9);
$color-white: white;
$color-red: #fc4503;
$color-green: $font-color2;
$color-orange: #fc9d03;